img{
    margin: 20px 20px;
    width: 400px;
    height: 250px;
}

.card{
    margin: 10px 10px;
    padding: 10px 10px;
    margin: 20px;
    

}
.card-title{
    font-weight: bold;
}
.card-text{
    color: rgb(12, 202, 12);
    font-weight: bold;
    font-size: 20px;
}
.card button{
    background-color: rgb(12, 202, 12);
    border: 0px;
}