footer button {
    background-color: rgb(12, 202, 12);;
    width: 150px;
    height: 50px;
    border: 1px solid var(--second-color);
    border-radius: 4px;
    margin-top: 20px;
    transition: .2s ease;
}

footer button a {
    color: #fff;
    font-size: 17px;
    transition: .2s ease;
    text-decoration: none;

}
footer a{text-decoration: none;
 color: #000;
}

footer button:hover a {
    color: #fff;
}

footer button:hover {
    opacity: .8;
}

footer p {
    display: flex;
}

footer h2 {
    color: var(--main-color);
    font-size: 30px;
    margin: 15px 0px;
}

footer ul {
    margin-top: 20px;

}

footer ul li {
    margin-top: 7px;
}

footer input {
    border: 1px solid #ccc;
    margin: 10px 10px;
}

footer .footer-bottom {
    text-align: center;
    margin-top: 5px;
    padding: 5px 0px;

}