nav{
    background-color: #f6f6f6 !important;
    width: 50%;
    height: auto;
    max-width: 50%;
    border-radius: 0px;
}
nav img{
    max-width: 50%;
    height: 75px;
    

}
.nav-link{
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}